{% extends 'blog/base.html' %} {% block content %}
<br>
<hr>
<div class="AboutMe">
    <center>
        <h1><u>About Me</u></h1>
    </center>
    <b>
		<hr></b>
    <p>
        Hola readers!<br><br> I'm <b>Kshitij Agrawal</b>, a Third-year Undergraduate majoring in <b>Electronics and Communication
			Engineering</b> from IIT-Kharagpur
    </p>
    <p>
        <ul>
            <li>
                I do Computer programming during most of my free time at college. Solving Algorithmic and Mathematical problems / puzzles is my favorite hobby.
            </li>
            <li>
                I also practice <b>Web Development</b> and this blog is my first experiment in this domain.
            </li>
            <li>
                I do a bit of <b>Competitive Coding</b>, and am known by the name <b>kshitij_07</b> on <br> {% load static %}<img src="{% static 'codechef.jpg' %}" width="100" height="35" /><a href="https://www.codechef.com/users/kshitij_07"> Codechef </a>
                <br> {% load static %}<img src="{% static 'codeforces.jpg' %}" width="100" height="25" /><a href="https://codeforces.com/profile/kshitij_07"> CodeForces</a>
            </li>
            <hr>
        </ul>
        Apart from being a good problem solver my wish list also includes a desire to in the field of <b> Artifical
			Intelligence </b> (something which I really crave for learning ....)
        <br>
        <hr>
</div>
{% endblock content %}