{% extends 'blog/base.html' %} {% block content %}

<div class="container">
    <div class="left">
        <!-- Hello -->
    </div>

    <div class="mid">
        {% for post in posts %}
        <hr>
        <div class="post">
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h2>
            <p><b>Published</b>: {{ post.published_date }}</p>
            <p>{{post.text | safe | linebreaksbr}}</p>
        </div>

        <div class="vote_list">
            <div class="vertical-padding"></div>
            <a class="btn btn-default" href="{% url 'up' pk=post.pk %}"><span class = "glyphicon glyphicon-thumbs-up"></span></a>
            <a class="btn btn-default" href="{% url 'down' pk=post.pk %}"><span class = "glyphicon glyphicon-thumbs-down"></span></a>
            <div class="vertical-padding"></div>
            <div><b>Comments: {{ post.comments.count }}</b><span class="tab"><b>Likes: {{ post.total }} ({{ post.upvotes }},{{post.downvotes }})</span></b>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="right">
        <!-- Bye -->
    </div>
</div>
{% endblock content %}